@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    background-color: #202020;
    color: #eeeeee;
}

header {
    /* background-color: darkslategray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 5vw;
    letter-spacing: 0.1vw;
}

h1 {
    font-size: 2.4vw;
}

a {
    /* background-color: darkblue; */
    color: #eeeeee;
    text-decoration: none;
    /* Slide in */
    position: relative;
    transition: color 0.3s;
}

.yellow {
    color: #ffa800;
}

.white {
    color: #eee;
}

.no {
    height: 2vw;
}

a.no:hover #anton {
    color: #ffa800;
}

#anton {
    transition: color 0.3s;
}

.dot {
    transition: color 0.3s;
}

a.no:hover .dot {
    color: #eee;
}

a.no::after {
    display: none;
}

.antonxu {
    display: block;
    transform: translateY(-2vw);
}

.dot {
    /* position: relative; */
    /* transform: translateY(-0.2vw); */
    font-size: 4vw;
}

a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0.1vw;
    background-color: #ffa800;
    transition: width 300ms;
}

a.selected::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1vw;
    background-color: #ffa800;
}

a:hover::after,
a:focus::after {
    width: 100%;
}

header div.flexItem {
    /* background-color: aquamarine; */
    height: 2vw;
    transition-duration: 0.3s;
}

header div.flex {
    /* background-color: green; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5vw;
}