@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    background-color: #202020;
    color: #eeeeee;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 5vw;
    letter-spacing: 0.1vw;
}

h1 {
    font-size: 2vw;
}

.yellow {
    color: #ffa800;
}

.white {
    color: #eee;
}

a {
    color: #eeeeee;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}

.no {
    height: 2vw;
}

.antonxu {
    font-size: 2.4vw;
    display: block;
    transform: translateY(-2vw);
}

.dot {
    font-size: 4vw;
}

.antonxu, .dot {
    transition: color 0.3s;
}

.no:hover .antonxu {
    color: #ffa800;
}
.no:hover .dot {
    color: #eee;
}

a::after {
    content: "";
    position: absolute;
    bottom: -0.2vw;
    width: 0%;
    height: 1px;
    background-color: #ffa800;
    transition: width 300ms;
}

.no::after {
    display: none;
}

a:hover::after,
a.selected::after {
    width: 100%;
}

header div.flex {
    /* background-color: green; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5vw;
}