@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    background-color: #202020;
    color: #eeeeee;
}

h1 {
    font-size: 2.4vw;
}

a {
    /* background-color: darkblue; */
    color: #eeeeee;
    text-decoration: none;
    margin-bottom: -1px;
}


/* Slide in */

a {
    overflow: hidden;
    display: block;
    position: relative;
    padding: 0.2em 0;
    transition: color 0.3s;
}

#anton {
    transition: color 0.3s;
}

a.no:hover #anton {
    color: #ffa800;
}

.dot {
    transition: color 0.3s;
}

a.no:hover .dot {
    color: #eee;
}

a.no::after {
    display: none;
}

a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1vw;
    background-color: #ffa800;
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
}

a.selected::after {
    overflow: hidden;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1vw;
    background-color: #ffa800;
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

a:hover::after,
a:focus::after {
    transform: translate3d(0, 0, 0);
}

header {
    /* background-color: darkslategray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 5vw;
    letter-spacing: 0.1vw;
}

header div.flexItem {
    /* background-color: aquamarine; */
    height: 2vw;
    transition-duration: 0.3s;
}

.antonxu {
    /* background-color: brown; */
    height: 2vw;
    display: flex;
    align-items: center;
    width: fit-content;
    overflow: hidden;
}

.yellow {
    color: #ffa800;
}

.dot {
    position: relative;
    transform: translateY(-0.7vw);
    font-size: 4vw;
}

header div.flex {
    /* background-color: green; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5vw;
}